<%- include('partials/header'); -%>
<h2>Compose</h2>
<form>
  <div>
    <input type="text" id="compose" name="compose">
      <button>Publish</button>
  </div>
</form>
<%- include('partials/footer'); -%>
